<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="InedoLib" publicKeyToken="112cfb71329714a6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-525.0.0.0" newVersion="525.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Inedo.Agents.Client" publicKeyToken="9de986a2f8db80fc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-525.0.0.0" newVersion="525.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Inedo.SDK" publicKeyToken="29fae5dec3001603" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>